html, body {
  width: 100%;
  text-align: center;
}

.choice {
  
  font-size: 2.7em;
  background-color: #FFFFFF;
  cursor: pointer;

}

 div > button {
  display: inline;
 }


.yes{
	margin-top: 0%;
  margin-bottom: 3%;
	color: green;
	font-weight: bold;
}

.no{
	margin-bottom: 3%;
  margin-left: 5%;
	color: red;
	font-weight: bold;
}

.yes:hover {
  background-color: green;
  color: white;
}


.no:hover {
  background-color: red;
  color: white;
}


.info {
  font-size: 1.5em;
}


#lastline{
  width: 12em;
  height: 12em;
  font-size: 1.3em;
  word-wrap:break-word; 
  display:inline-block;
}