html, body {
  width: 4em;
  text-align: center;
}

.choice {
  
  font-size: 2.7em;
  background-color: #FFFFFF;
  cursor: pointer;

}


.yes{
	margin-top: 0%;
	color: green;
	font-weight: bold;
}

.no{
	margin-bottom: 0%;
	color: red;
	font-weight: bold;
}

.yes:hover {
  background-color: green;
  color: white;
}


.no:hover {
  background-color: red;
  color: white;
}
